<body class="g-sidenav-show bg-gray-100">
  <div class="position-absolute w-100 min-height-300 top-0"
    style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/profile-layout-header.jpg'); background-position-y: 50%;">
    <span class="mask bg-primary opacity-6"></span>
  </div>

  <div class="main-content position-relative max-height-vh-100 h-100">
    <!-- Navbar -->
    <nav
      class="navbar navbar-main navbar-expand-lg bg-transparent shadow-none position-absolute px-4 w-100 z-index-2 mt-n11">
      <div class="container-fluid py-1">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 ps-2 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="text-white opacity-5" href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Profile</li>
          </ol>
          <h6 class="text-white font-weight-bolder ms-2">Profile</h6>
        </nav>
        <div class="collapse navbar-collapse flex-row-reverse" id="navbar">
         
          <ul class="navbar-nav justify-content-end">
            <li class="nav-item d-flex align-items-center me-3"> <!-- Added margin -->
                <a class="nav-link text-white font-weight-bold px-0 " *ngIf="isLoggedIn" (click)="logout()">
                    <i class="fas fa-sign-out-alt me-1"></i>
                    <span class="d-sm-inline d-none">Logout</span>
                </a>  
            </li>
            <li class="nav-item d-flex align-items-center">
                <a class="nav-link text-white font-weight-bold px-0" [routerLink]="'/welcome'">
                    <i class="fas fa-home me-1"></i>
                    <span class="d-sm-inline d-none"> Welcome</span>
                </a>
            </li>
        </ul>
          
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="card shadow-lg mx-4 card-profile-bottom">
      <div class="card-body p-3">
        <div class="row gx-4">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
              <img src="../assets/img/logo.PNG" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1">
                {{user.name}}
              </h5>
            
            </div>
          </div>
          <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
            <div class="nav-wrapper position-relative end-0">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header pb-0">
              
            </div>
            <div class="card-body">
              <p class="text-uppercase text-sm">User Information</p>
              <form (submit)="updateProfile()" #updateForm="ngForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">First name</label>
                      <input name="name" class="form-control" type="text" value="{{user.name}}" [(ngModel)]="user.name">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Last name</label>
                      <input name="prenomEt" class="form-control" type="text" value="{{user.prenomEt}}" [(ngModel)]="user.prenomEt">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">CIN</label>
                      <input name="cin" class="form-control" type="text" value="{{user.cin}}" [(ngModel)]="user.cin">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Email address</label>
                      <input name="email" class="form-control" type="email" value="{{user.email}}" [(ngModel)]="user.email">
                    </div>
                  </div>
                 
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Date de Naissance</label>
                      <input name="dataNaissance" class="form-control" type="date" value="{{user.dataNaissance | date:'yyyy-MM-dd'}}"
                        [(ngModel)]="user.dataNaissance">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">School</label>
                      <input name="ecole" class="form-control" type="text" value="{{user.ecole}}" [(ngModel)]="user.ecole">
                    </div>
                  </div>

                </div>
                <button type="submit" class="btn btn-primary btn-block">Update Profile</button>
              </form>
            </div>
          </div>
        </div>

      </div>
      <footer class="footer pt-3  ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4 text-center">
              <div class="copyright text-end text-sm text-muted text-lg-start">
                made with <i class="fa fa-heart"></i> by 4 TWIN 2 !
              </div>
            </div>
            <div class="col-lg-6">
              
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>