<!-- <app-navbar></app-navbar>
<div class="container-fluid" style="margin-top: 200px;">
    <div class="row">
        <div class="col-md-3">
            <app-sidebars></app-sidebars>
        </div>
        <div class="col-md-9">
            <div class="add-chambre-container">
                    <form [formGroup]="form" (ngSubmit)="submit()" #updateForm="ngForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Id Reservation</label>
                                    <input id="name" formControlName="idReservation" type="text" name="idReservation" class="form-control" placeholder="ID" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">year</label>
                                        <input id="email" formControlName="anneUniversitaire" type="date" name="anneUniversitaire" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">valide</label>
                                        <button type="button" class="btn btn-success" (click)="setValide(true)">True</button>
                                        <button type="button" class="btn btn-danger" (click)="setValide(false)">False</button> -->
                                        <!-- Optional: Display the selected value -->
                                        <!-- <p *ngIf="valide !== null">Selected value: {{ valide ? 'True' : 'False' }}</p>                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid"> <i class="fas fa-plus"></i> Add</button>
                    </form>
            </div>
        </div>
    </div>
</div> -->
