<div class="d-flex justify-content-center align-items-center">
  <h2>Modifier un Foyer</h2>
</div>

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <form (ngSubmit) = "onSubmit()" style="width: 500px; height: 500px;">


      <div class="form-group">
          <label>Dorm Name</label>
          <input type="text" class="form-control" id="nomFoyer" placeholder="Dorm Name" pattern="[a-zA-Z ]*" [(ngModel)] = "foyer.nomFoyer" required name="nomFoyer">   
      </div>


      <div class="form-group">
          <label>Dorm Capacity</label>
          <input type="number" class="form-control" id="capaciteFoyer" placeholder="Dorm Capacity" required min="0" name="capaciteFoyer" [(ngModel)] = "foyer.capaciteFoyer">
      </div>


      <button type="submit" class="btn btn-outline-success"> <i class="fas fa-pencil-alt"></i> Update</button>


    </form>
</div>
